extends layout

block link
	- var selected = 'Ajouter un film';
	
block content
	h1= title

	script.
		$(document).ready(function() {
			$('#viewdate').datepicker();

			$('#score').slider({
				formater: function(value) {
					return 'Score: ' + value;
				}
			});
		});

	div.span12

		form(action='/entry/#{action}', method='POST', role='form')
			fieldset
				legend Mon film
				div.form-group
					label Titre
					input.form-control(name='title', type='text', placeholder='Titre', autofocus="", required="", value=movieTitle)
				div.form-group
					label Date
					div.input-append.date(id='viewdate', data-date=moment(entry.viewdate).format("DD-MM-YYYY"), data-date-format='dd-mm-yyyy')
						input.form-control.span2(name='viewdate', size='16', type='text', value=moment(entry.viewdate).format("DD-MM-YYYY"))
						span.add-on
							span.glyphicon.glyphicon-calendar
				div.form-group
					label Commentaire
					textarea.form-control(rows="3", name='comment', type='text', placeholder='Commentaire') #{entry.comment}
				div.form-group
					label Score (en pourcentage)
					input.form-control(id="score", name="score", data-slider-id='score', type="text", data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value=entry.score)
				div.form-group
					label Recommandé
					input.form-control(name='recommandation', type='checkbox', checked="checked", value=entry.recommandation)
			div.btn-group
				a(href='#')
					button.btn.btn-primary(type='submit') #{submit}
				a(href='/entry')
					button.btn.btn-primary(type='button') Annuler

