extends layout

block content
	h1= title
	p #{title}

	script.
		$(document).ready(function() {
			$('#viewdate').datepicker();
		});

	div.span12

		form(action='/cinema/#{action}', method='POST')
			fieldset
				legend Mon film
				label Titre
				input(name='title', type='text', value=movie.title)
				label Date
				.input-append.date(id='viewdate', data-date=moment(movie.viewdate).format("DD-MM-YYYY"), data-date-format='dd-mm-yyyy')
					input.span2(name='viewdate', size='16', type='text', value=moment(movie.viewdate).format("DD-MM-YYYY"))
					span.add-on
						i.icon-th
				label Commentaire
				input(name='comment', type='text', value=movie.comment)
			div.btn-group
				button.btn.btn-primary(type='submit') #{submit}
				a(href='/cinema')
					button.btn.btn-primary(type='button') Annuler

