extends layout

block link
	- var selected = 'Ajouter un film';
	
block content
	h1= title

	script.
		$(document).ready(function() {
			$('#viewdate').datepicker();
		});

	div.span12

		form(action='/cinema/#{action}', method='POST', role='form')
			fieldset
				legend Mon film
				div.form-group
					label Titre
					input.form-control(name='title', type='text', placeholder='Titre', value=movie.title)
				div.form-group
					label Date
					div.input-append.date(id='viewdate', data-date=moment(movie.viewdate).format("DD-MM-YYYY"), data-date-format='dd-mm-yyyy')
						input.form-control.span2(name='viewdate', size='16', type='text', value=moment(movie.viewdate).format("DD-MM-YYYY"))
						span.add-on
							span.glyphicon.glyphicon-calendar
				div.form-group
					label Commentaire
					textarea.form-control(rows="3", name='comment', type='text', placeholder='Commentaire') #{movie.comment}
			div.btn-group
				button.btn.btn-primary(type='submit') #{submit}
				a(href='/cinema')
					button.btn.btn-primary(type='button') Annuler

