extends layout

block content
	h1= title
	p Welcome to #{title}

	span.badge.badge-inverse #{count}
	span  films

	div.btn-group
		a(href='/cinema/add')
			button.btn.btn-primary Ajouter

	table.table
		tr
			th Titre
			th Date
		each movie in movies
			tr.success
				td #{movie.movie}
				td #{moment(movie.viewdate).format("DD-MMM-YYYY")}

	div.pagination.pagination-centered
		ul
			li
				a(href='/cinema/list/0') Prev
			li
				a(href='/cinema/list/0') 1
			li
				a(href='/cinema/list/20') 2
			li
				a(href='/cinema/list/40') 3
			li
				a(href='/cinema/list/60') 4
			li
				a(href='/cinema/list/80') 5
			li
				a(href='/cinema/list/100') Next
