doctype html
html(lang='fr', ng-app='cineApp')
	head
		title CinemaJS
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-glyphicons.css')
		link(rel='stylesheet', href='/datepicker/css/datepicker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/ng-infinite-scroll.min.js')
		script(src='/javascripts/Chart.js')
		script(src='/bootstrap/js/bootstrap.js')
		script(src='/datepicker/js/bootstrap-datepicker.js')
		script(src='/javascripts/ng-cineApp.js')
		script(src='/javascripts/controllers.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/filters.js')

	block link
	- var selected = 'Liste';
	- var menu = {}
		if(user != null)
			- menu = {'Liste': '/entry', 'Ajouter un film': '/entry/viewAdd', 'Ajouter un utilisateur': '/user/viewAdd' };

	body
		a(href='https://github.com/sfoubert')
			img(style='position: fixed; top: 40px; right: 0; border: 0;', src='/images/forkme.png', alt='Fork me on GitHub')

		div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button', data-target='.navbar-collapse',data-toggle='collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') CinemaJS
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						each val, key in menu
							if selected === key
								li.active
									a(href=val, title=key)= key
							else
								li
									a(href=val, title=key)= key
					if(user != null)
						ul.nav.navbar-nav.pull-right
							li.divider-vertical
							li.dropdown
								a(href='#',data-toggle='dropdown').dropdown-toggle Graphiques
									strong.caret
								ul.dropdown-menu
									li
										a(href='/chart/show?view=year') Par an
									li.divider
									li
										a(href='/chart/show?view=month') Par mois
							li.navbar-text #{user.firstname}  #{user.name}
							li image
								img(src="#{user.photo}") 
							li
								form.navbar-form.navbar-right(role="form")
									a.btn.btn-primary(href="/logout") Se déconnecter
		block content
