extends layout
	
block content
	h1= title

	p #{user.firstname} #{user.name}
	br
	img(src="#{user.photo}")
	br
	p Dernière connexion : #{moment(user.lastLogin).format("DD-MM-YYYY HH:mm:ss")}

	a(href='#')
		button.btn.btn-primary(type='submit') Faire une proposition