extends layout
	
block content
	h1= title

	p #{user.displayName}
	br
	img(src="#{user.photo}")
	br
	p Dernière connexion : #{moment(user.lastLogin).format("DD-MM-YYYY HH:mm:ss")}

	div(ng-controller='UserController' ng-init="initUser('#{user._id}')")

		div.container
			div.row
				div.col-md-6
					div.panel.panel-default
						div.panel-heading
							h3.panel-title Les {{recommandations.length}} dernières recommandations
						div.panel-body
							ul.media-list
								li.media(ng-repeat='entry in recommandations')
									a.pull-left(href="/user/view/{{entry.user._id}}")
										img(ng-src="{{entry.user.photo}}")
									a(href="/user/view/{{entry.user._id}}")
										h4 {{entry.user.firstname}} {{entry.user.name}}
									span &nbsp;recommande {{entry.movie.title}} 
									span &nbsp;à {{entry.score | percentFilter}}
				div.col-md-6
					div.panel.panel-default
						div.panel-heading
							h3.panel-title Les {{entries.length}} derniers films vus
						div.panel-body
							ul.media-list
								li.media(ng-repeat='entry in entries')
									a.pull-left(href="/user/view/{{entry.user._id}}")
										img(ng-src="{{entry.user.photo}}")
									a(href="/user/view/{{entry.user._id}}")
										h4 {{entry.user.firstname}} {{entry.user.name}}
									span &nbsp;le {{entry.viewdate | dateFilter}}
									span &nbsp;a vu {{entry.movie.title}} 
				//- .btn-group
				//- 	a(href='/proposal/viewAdd')
				//- 		button.btn.btn-primary Faire une proposition

					//- a(href='/entry')
					//- 	button.btn.btn-primary Liste des films